* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(89, 89, 89);
  padding: 0;
  margin: 0;
}

section.project {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.title {
  height: 10rem;
  background-color: rgb(255, 255, 255);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px black solid;
}

h1 {
  margin: 0;
  font-size: 8rem;
  white-space: nowrap;
}

section.players {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background-color: aliceblue;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(225, 230, 235);
  font-size: 3rem;
  width: 30rem;
  height: 4rem;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: fit-content;
  font-size: 2rem;
}

form>input {
  font-size: 1.5rem;
  width: 8.7rem;
}

section.game {
  background-color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  min-width: 30rem;
  min-height: 30rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 equal-width columns */
  grid-template-rows: repeat(3, 1fr);
  /* 3 equal-height rows */
  gap: 5px;
  /* space between cells */
  justify-content: center;
  /* center the grid horizontally inside parent */
  align-content: center;
  /* center the grid vertically inside parent */
  background-color: black;
  max-width: fit-content;
  max-height: fit-content;
  margin-bottom: 17rem;
}


.board>div {
  background: lightblue;
  display: flex;
  justify-content: center;
  /* center content horizontally inside cell */
  align-items: center;
  /* center content vertically inside cell */
  font-size: 2rem;
}